@charset "UTF-8";
* { margin: 0; padding: 0; }
    body, html { font-family: 'Noto Sans KR', sans-serif; width: 100%; } 
    ul { list-style: none; } 
    a { text-decoration: none; color: #333; }
    .vs_tit { font-family: 'scB'; } 
    .vs_com { font-family: 'Nanum Gothic', sans-serif; } 
    i[class*='xi'] { font-size:28px; color:#000; }
    i[class*='xi']:hover { color:rgb(226, 55, 25); }
    .wrap { clear:both; width: 100%; }
 
    /* ν—¤λ” */
    #hd { clear:both; width: 100%;}
    .hd_wrap { clear:both; width: 1500px; margin: 0 auto; }
    .logo { display:block; width: 250px; float:left; margin-top: 10px;}
    .logo img { display:block; width: 100%; }
    #gnb { float:left; margin-top: 20px;}
    #gnb > ul > li { float:left; padding-left: 60px; padding-right: 20px; 
    position:relative; }
    #gnb > ul > li > span { display:block; line-height: 50px; cursor:pointer;}
    #gnb ul li .sub { display:none; position:absolute; left:10px; top:36px; z-index:999;
    padding-left: 10px;  width: 150px; height: 200px; background-color: #eee; margin-top: 14px;}
    #gnb ul li .sub li { line-height: 36px;}
    #gnb ul li:hover .sub { display:block; }
    #gnb ul li:hover span { color: deepskyblue;}
    #gnb ul li .sub li:hover a {  color:hotpink;}
   
    #tnb { float:right; padding-top: 10px; padding-bottom: 10px; margin-top: 20px;}
    #tnb a { font-size: 0.85em; padding-left: 20px;}
    #tnb a:hover { color: gold; text-decoration: underline;}
    #content { clear:both; width: 100%; }

     /* ν‘Έν„° */
     #ft { clear:both; width: 100%; padding-top: 20px; }
     .ft_wrap { clear:both; width: 1280px; margin: 0 auto; }
     .fnb { float:left; }
     .fnb a { display:block; float:left; margin:14px; 
         margin-left: 0; margin-right: 28px; font-size:15px; }
     .fnb a:after { content:"|"; padding-left: 28px; }
     .fnb a:last-child::after { content:""; }
     .snb { float:right; }
     .snb ul li { float:left; margin-left: 28px; }
     .copyright { clear:both; padding-bottom: 28px; font-size:15px; }